*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* Shared style */
.btn{
    background-color: #30B868;
    border: none;
    padding: 16px 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    
}
.btn:hover{
    background-color: antiquewhite;
}
header{
    background-color:#ffffff;
    padding: 16px 120px ;
    
}
nav{
    width: 1600px 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.logo-navbar{
    width: 139px 60px;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;


}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

}
#about{
   background: url(../assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    background-color: #FFFFFF;
}
#about .about-container{
    width: 1360px;
     height: 339px;
    padding: 70px 120px 134px;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    
    
}
.about-container .about-btn{
    margin-bottom: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #469165;
}


#about .about-container h1{
   text-align: center;
   margin-bottom: 16px;
    
}
#about .about-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 84px;
}
.content-button{
    gap: 16px;
}
.content-button #ArrowRight{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    text-align: center;
    font-size: 16;
    font-weight: 400;
    gap: 10px;
    color:#FFFFFF;
    border: none;
}
.content-button #ArrowRight:hover{
    background-color:antiquewhite;
}
.content-button #clear-btn{
    padding: 12px 16px;
    gap: 10;
    border-radius: 4px;
    background-color: none;
    border-color:;

}
.content-button #clear-btn:hover{
    background-color: antiquewhite;
}
#skill{
    padding: 120px 44px;
}
#skill .skill-container{
    width: 1600px;
    max-width: 1600px;
    height: 448px;
    margin: 0 auto;

}
#skill .section-heading{
    width: 1360px;
    height: 116px;
    margin: 0 auto;
    text-align: center;
}
#skill .section-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
#skill .section-heading p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #627382;
}
#skill .skill-container .skill-box{
    display: flex;
    justify-content:space-around;

    
    
}
.skill-box .skill-card{
    width: 322px;
    height: 300px;
    align-items: center;
    gap: 40;
    padding: 24px ;
    text-align: justify;
    
   
}
.skill-box .skill-card img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 5px;

}
#Brain{
    width: 1600px;
    height: 840px;
    padding: 120px;
    display: flex;
    gap: 60;
    justify-content: center;
    margin: 0 auto;
}
.brain-img{
    width: 600px;
    height: 600px;
}
.brain-text{
    vertical-align: middle;
}
.brain-text .brain-top{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    text-align:center;
}
.brain-text h2{
    font-size: 48px;
    color: #001931;
    text-align: center;
}
.brain-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;

}
.brain-list{
 list-style: none;
 list-style-image: url(../assets/CheckCircle.png);
 align-items: center;
  font-size: 20px;
  line-height: 16px;
  color: #001931;
  text-wrap-mode: inherit;  
}
    





